Django==4.2.11
python-dateutil==2.9.0.post0
openpyxl==3.1.5
pandas==2.2.3
reportlab==4.2.5
Pillow==10.4.0
crispy-bootstrap5==2024.10
django-crispy-forms==2.3
django-filter==24.3
python-decouple==3.8
psycopg2-binary==2.9.10
